.app {
  min-height: 100vh;
  overflow-x: auto;
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  left: 0;
  font-size: xxx-large;
  font-weight: bold;
  padding-bottom: 2%;
}

main {
  padding-left: 2%;
}

.option {
  padding-right: 2%;
  position: fixed;
  right: 0;
}

.inputAndCal {
  display: flex;
}

.inputText {
  font-size: large;
  padding: 10px;
  width: 334px;
  min-height: 171px;
  resize: vertical;
}

.miniInput {
  display: grid;
  position: relative;
  left: 3px;
  height: 80px;
}

.inputNumber {
  font-size: large;
  width: 130px;
  height: 35px;
}

.calButton {
  font-size: large;
  font-weight: bold;
  position: relative;
  top: 2px;
  width: 130px;
  height: 40px;
  background-color: #00eeda;
  color: #fff;
  transition: background-color 0.5s;
  border-radius: 8px;
  border: none;
}

.calButton:hover {
  background-color: #004369;
}

.selectCenter {
  display: flex;
  position: relative;
  top: 4px;
  justify-content: center;
}

ul {
  position: relative;
  top: 6px;
}

.hydra {
  padding-top: 2%;
  width: 464px;
}

.hydraSize {
  position: relative;
  top: 3px;
  cursor: pointer;
  width: 350px;
  height: 14px;
}

.hydraRange {
  position: relative;
  top: 3px;
  left: 16px;
  cursor: pointer;
  width: 350px;
  height: 14px;
}

footer {
  padding-left: 2%;
  position: sticky;
  left: 0;
  top: 100vh;
  background-color: rgb(175, 253, 214);
}